#root {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #db9828;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #db9828;
}

#header {
  color: white;
  background-color: #db9828;
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  left: 0;
  margin: -10px 1.5rem 0 1.5rem;
  display: flex;
  font-size: 3rem;
}

.logo {
  margin: -8px;
}

// #main-title-tag {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin: 0;
// }

#main-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Jost', sans-serif;
}

#main-title-tag p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
}

#chain-icon {
  position: absolute;
  right: 0;
  margin: -10px 1.75rem 0 1.5rem;
  display: flex;
  font-size: 3rem;
}

.chain-icon {
  margin: -8px;
  font-family: 'Courier New', Courier, monospace;
}

#countdownBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#chain {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10px;
}

.chain-link {
  margin: 15px -10px;
  background-color: transparent;
  box-shadow: inset 0px 4px 3px #dbdbd9, 0px 4px 3px #dbdbd9;
  padding: 12px 38px;
  border-radius: 100px;
  transition: 0.275s;
  color: white;
  cursor: pointer;
  border: 10px solid #db9828;
  border-width: 22px 2px;
}

.chain-link:hover {
  border-color: #8f9261;
  color: #8f9261;
  font-size: 1.2rem;
  border-width: 22px 2px;
  padding: 3px 34px;
}

#current-week {
  margin: 15px 0 5px 0;
  width: 130px;
  height: 90px;
  color: white;
  background-color: #db9828;
  // font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 50%;
  padding: 70px 55px;
  text-align: center;
  box-shadow: 2px 4px 3px #dbdbd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-week p {
  font-family: 'Jost', sans-serif;
  margin: 0;
  font-size: 24px;
}

#current-week h2 {
  margin: 0 0 15px 0;
  font-size: 33px;
  font-family: 'JOst', sans-serif;
}

#current-week #weeksToGo {
  // margin-top: 15px;
  font-size: 19px;
}

#finished {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  margin: 0;
}

#finishedText {
  font-size: 245px;
  margin: 140px 0;
}

#buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.main-button {
  background-color: #cd7029;
  border: 2px solid #cd7029;
  border-radius: 25px;
  // border-radius: 5px;
  color: white;
  padding: 12px 22px;
  margin: 5px;
  box-shadow: 2px 4px 3px #dbdbd9;
  font-size: 1.2em;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.modal {
  transition: opacity 0.5s var(--ease-3);
  padding: 0.5em;
  max-width: 50%;
  border-radius: 20px;
  border: none;
  backdrop-filter: blur(4px);
  font-size: 1.5rem;
  color: #cd7029;
  background: rgb(255, 255, 255, 0.65);
  box-shadow: 25px 25px 75px #b2b8b8;

  h2 {
    font-style: italic;
    margin: 2em;
    padding: 1em 1em;
    text-align: center;
    background: #45a6ab;
    // background: linear-gradient(0deg, #db9828, #cd7029);
    border-radius: 20px;
    font-family: 'Jost', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #97adaf;
    box-shadow: 1px 3px 20px #c9e3e3;
    opacity: 1;
  }
}

.modal::backdrop {
  background-color: #c7c7c7;
  // background: linear-gradient(180deg, #45a6ab, #2f6e71);
  opacity: 0.65;
}

// dialog {
//   // transform: translateY(-100vh) scale(0, 0);
//   transition: transform 500ms ease;
// }

#close-button {
  background-color: #d2e8e8;
  // border: 1px solid #8cc7d0;
  border: none;
  border-radius: 20px;
  color: #45a6ab;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.3em 0.55em;
  text-shadow: 0.5px 0.5px 0.5px #2f6e71;
  position: fixed;
}

#close-button:hover {
  background-color: #c9e3e3;
  border: none;
  // border: 1px solid #45a6ab;
  transition: 150ms;
}

.main-button:hover {
  border: 2px solid #cd7029;
  background-color: white;
  color: #cd7029;
}

#intentionText {
  color: #cd7029;
  font-size: 24px;
}

#footer {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  padding: 0;
  margin-top: 5px;
}

.form {
  border: 1px solid #db9828;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 3px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer p {
  font-size: 22px;
  margin: 5px;
  color: #cd7029;
}

#footerLabel {
  margin-bottom: 5px;
}

input[type='text'] {
  margin: 8px;
  padding: 6px;
  font-size: 15px;
  color: #db9828;
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid #db9828;
  border-radius: 10px;
  // background-color: #fcfcf7;
  box-shadow: inset 1px 1px 1px #e9e1d4;
  width: 70%;
}

input[type='number'] {
  margin: 8px;
  padding: 6px;
  font-size: 15px;
  color: #db9828;
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid #db9828;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #e9e1d4;
  width: 70%;
}

#newChainText:focus {
  outline: none;
}

#newReminder:focus {
  outline: none;
}

#newIntentionText:focus {
  outline: none;
}

.secondary-button {
  background: #db9828;
  color: white;
  border: 2px solid #db9828;
  border-radius: 25px;
  padding: 9px 15px;
  box-shadow: 1px 3px 2px #dbdbd9;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-button:hover {
  background: white;
  color: #db9828;
  border: 2px solid #db9828;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restart-button {
  padding: 12px 22px;
  margin: 5px;
  box-shadow: 2px 4px 3px #dbdbd9;
  font-size: 1.1em;
}
