#root {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #db9828;
  // position: relative;
  min-height: 90vh;
}

#app {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #db9828;
  min-height: 75vh;
}

#header {
  color: white;
  background-color: #db9828;
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 3.5rem;
}

#logo {
  position: absolute;
  left: 0;
  margin: -10px 1.5rem 0 1.5rem;
  display: flex;
  font-size: 3rem;
}

.logo {
  margin: -8px;
}

#main-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Jost', sans-serif;
}

#main-title-tag p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
}

#chain-icon {
  position: absolute;
  right: 0;
  margin: -10px 1.75rem 0 1.5rem;
  display: flex;
  font-size: 3rem;
}

.chain-icon {
  margin: -8px;
  font-family: 'Courier New', Courier, monospace;
}

#countdownBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // margin-top: 15px;
  padding-top: 4rem;
  // padding-bottom: 2.5rem;
}

#chain {
  display: flex;
  justify-content: end;
  color: white;
  margin-top: 10px;
  max-width: 90%;
}

.chain-link {
  margin: 15px -10px;
  background-color: transparent;
  box-shadow: inset 0px 4px 3px #dbdbd9, 0px 4px 3px #dbdbd9;
  padding: 11px 37px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  border: 10px solid #db9828;
  border-width: 22px 2px;
  font-size: 1.2rem;
}

.chain-link:hover {
  border-color: #8f9261;
  color: #8f9261;
  font-size: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
  padding: 10px 37px;
}

#main-countdown {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
}

#current-week {
  margin: 25px 0 5px 0;
  width: 130px;
  height: 90px;
  color: white;
  background-color: #db9828;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 50%;
  padding: 70px 55px;
  text-align: center;
  box-shadow: 2px 4px 3px #dbdbd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-week p {
  font-family: 'Jost', sans-serif;
  margin: 0;
  font-size: 24px;
}

#current-week h2 {
  margin: 0 0 8px 0;
  font-size: 33px;
  font-family: 'Jost', sans-serif;
}

#current-week #weeksToGo {
  font-size: 19px;
}

#finished {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  margin: 0;
}

#finishedText {
  font-size: 15vw;
  margin: 120px 0;
}

#buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

.main-button {
  background-color: #cd7029;
  border: 2px solid #cd7029;
  border-radius: 20px;
  color: white;
  padding: 12px 22px;
  margin: 5px;
  box-shadow: 2px 4px 3px #dbdbd9;
  font-size: 1.2em;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.modal {
  transition: opacity 0.5s var(--ease-3);
  padding: 0.5em;
  max-width: 50%;
  border-radius: 20px;
  border: none;
  backdrop-filter: blur(4px);
  font-size: 1.5rem;
  color: #cd7029;
  background: rgb(255, 255, 255, 0.75);
  box-shadow: 25px 25px 75px #b2b8b8;

  h2 {
    font-style: italic;
    margin: 1em;
    padding: 1em 1em;
    text-align: center;
    background: #45a6ab;
    border-radius: 20px;
    font-family: 'Jost', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #97adaf;
    box-shadow: 1px 3px 20px #c9e3e3;
    opacity: 1;
  }
}

.modal::backdrop {
  background-color: white;
  opacity: 0.65;
}

#close-button {
  border: none;
  border-radius: 20px;
  color: #45a6ab;
  font-size: 1.1rem;
  margin: 0;
  padding: 0.3em 0.55em;
  text-shadow: 0.5px 0.5px 0.5px #2f6e71;
  position: fixed;
  background-color: white;
}

#close-button:hover {
  background-color: #d2e8e8;
  border: none;
  transition: 150ms;
}

.main-button:hover {
  border: 2px solid #cd7029;
  background-color: white;
  color: #cd7029;
}

#intentionText {
  color: #cd7029;
  font-size: 24px;
}

#new-chain-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  padding: 0;
  margin-top: 15px;
}

#new-chain-menu,
#new-chain-menu *,
#new-chain-menu *::before,
#new-chain-menu *::after {
  box-sizing: border-box;
}

.add-item {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: #cd7029;
    transform: rotate(0deg);
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
  }

  .add-item-input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: 0;
  }

  .add-symbol {
    color: white;
    font-size: 2.5em;
    width: 100%;
    display: block;
    transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    position: relative;
    bottom: 17.8px;
    right: 1.8px;
  }
}

.menu-button-wrapper {
  position: relative;
  display: inline-block;

  .item-list {
    position: absolute;
    top: 80px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    background: rgb(255, 255, 255, 0.95);
    width: 100vw;
    left: 50%;
    padding: 15px 0;
    text-align: center;
    border-radius: 100px;
    opacity: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    margin: 0;
  }
}

.menu-button {
  &:checked ~ .item-list {
    transform: translateX(-50%) scale(1);
    border-radius: 20px;
    opacity: 1;
    user-select: auto;
  }

  &:checked ~ .icon-wrapper .add-symbol {
    transform: rotate(-45deg);
  }

  &:checked ~ .icon-wrapper .add-item-line.first {
    transform: translate(2px, 8px) rotate(-135deg);
  }

  &:checked ~ .icon-wrapper .add-item-line.third {
    transform: translate(11px, -3px) rotate(-135deg);
  }

  &:checked ~ .icon-wrapper .add-item:before {
    transform: rotate(45deg);
  }
}

.form {
  border: 1px solid #db9828;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-chain-menu p {
  font-size: 22px;
  margin: 5px;
  color: #cd7029;
}

input[type='text'] {
  margin: 8px;
  padding: 6px;
  font-size: 15px;
  color: #db9828;
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid #db9828;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #e9e1d4;
  width: 70%;
}

input[type='number'] {
  margin: 8px;
  padding: 6px;
  font-size: 15px;
  color: #db9828;
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid #db9828;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #e9e1d4;
  width: 70%;
}

#newChainText:focus {
  outline: none;
}

#newReminder:focus {
  outline: none;
}

#newIntentionText:focus {
  outline: none;
}

.secondary-button {
  background: #db9828;
  color: white;
  border: 2px solid #db9828;
  border-radius: 10px;
  padding: 11px 15px;
  box-shadow: 1px 3px 2px #dbdbd9;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-button:hover {
  background: white;
  color: #db9828;
  border: 2px solid #db9828;
}

#restart-button {
  padding: 12px 22px;
  margin: 2px;
  box-shadow: 2px 4px 3px #dbdbd9;
  font-size: 1.1em;
}

@media screen and (max-width: 745px) {
  #main-title {
    font-size: 5vw;
    color: #db9828;
  }

  .logo,
  .chain-icon {
    font-size: 2.5rem;
    margin: -6.5px;
  }

  .modal {
    font-size: 1em;
  }

  #close-button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    font-size: 0.75em;
  }
}
